* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #cfe8e7;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*    #4a9e86*/
}

.container {
    min-width: 650px;
    max-height: 700px;
    min-height: 500px;
    /*border: rebeccapurple solid 2px;*/
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
    
.container2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 500px;
    gap: 1rem;
    margin: 0 auto;
}

.input {
    border-radius: 20px;
    width: 80%;
    height: 50px;
    padding-left: 20px;
}


.button {
    background-color: #0b847b;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    width: 200px;
    height: 58px;
    border-radius: 15px;
}

.img {

    margin-bottom: 80px;
    width: 150px;
    height: 150px;
}